#info-panel{
  display:none;
  position:fixed;
  margin-right:auto;
  margin-left:auto;
}
#panel-button{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:99999;
  padding:5px 10px;
  font-size:initial;
  border-radius:100%;
  background:white;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 30px;
  width: 30px;
}

#panel-button:hover,
#panel-button:focus:hover {
  box-shadow: 0 0 0 0.2rem rgba(61, 118, 241, 0.5);
}

#panel-button:focus {
  box-shadow: none;
}

#panel-button .user-guide-icon{
  color: #3D76F1;
  font-size: 2.2em;
}

#panelModal .modal-title{
  font-size:17px;
  margin:0px;
}
#panelModal .modal-header{
  padding:13px;
}
#panelModal .modal-dialog{
  margin-top:23px;
}
#panelModal .close span{
  font-size:20px;
}
#panelModal .modal-body{
  font-size: 13px;
  padding: 13px;
  line-height: 19px;
}
#panelModal .modal-footer *{
  font-size:13px;
  line-height:19px;
  margin: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}
#panelModal .modal-footer{
  font-size:13px;
  padding: 0.75em;
}
